# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Node
node_modules/

# Flask
instance/
*.db

# Environment variables
.env

# Uploads (ficheiros do utilizador)
uploads/

# Sistema
.DS_Store
Thumbs.db